<p-menubar [model]="itemsNav">
  <ng-template pTemplate="end">
    <button
      type="button"
      pButton
      label="Logout"
      icon="pi pi-sign-out"
      (click)="logout()"
    ></button>
  </ng-template>
  <!-- <button
    type="button"
    pButton
    label="Logout"
    icon="pi pi-power-off"
    style="margin-left: 0.25em"
    (click)="logout()"
  ></button> -->
</p-menubar>

<div class="sidenav">
  <p-panelMenu
    [model]="itemsSideNav"
    [style]="{ width: '100%', height: '100%' }"
  ></p-panelMenu>
</div>

<div class="main">
  <div class="p-shadow-5 container" >
    <router-outlet></router-outlet>
  </div>
</div>
