<div class="p-grid" *ngIf="messagePatientDetails">
  <div class="p-col-9">
    <div class="p-grid p-jc-between">
      <div class="p-col-4 p-as-center">
        <img
          [src]="messagePatientDetails.imageUrl"
          [alt]="messagePatientDetails.imageUrl"
          width="300"
          (click)="showLightbox(0)"
        />
      </div>
      <ng-image-fullscreen-view
        [images]="imageObject"
        [show]="showFlag"
        (close)="closeEventHandler()"
      ></ng-image-fullscreen-view>

      <div class="p-col-4 p-as-center">
        <div class="p-grid">
          <div class="p-col-6 p-offset-3">
            <div class="box">
              <button
                pButton
                pRipple
                label=" Send to AI ->"
                class="p-button-success p-mr-2"
                (click)="sendToAIConverter()"
              ></button>
            </div>
          </div>
        </div>
      </div>
      <div class="p-col-4 p-as-center">
        <div class="p-grid">
          <div class="p-col-6 p-offset-3">
            <div class="box">
              <p-progressSpinner *ngIf="showSpinner"></p-progressSpinner>
            </div>
          </div>
        </div>
        <img
          *ngIf="imageAIUrl && imageAIReceived"
          src="{{ imageAIUrl }}"
          alt="A image"
          width="300"
          #myImg
        />
      </div>
    </div>
  </div>
  <div class="p-col-3">
    <p-fieldset legend="About">
      <div class="p-d-flex p-flex-column">
        <div class="p-mb-1">
          <h5>Patient Name</h5>
          {{ messagePatientDetails.patientName }}
        </div>
        <div class="p-mb-1">
          <h5>Image Type</h5>
          {{ messagePatientDetails.imageType }}
        </div>

        <div class="p-mb-1">
          <h5>Patient Phone Number</h5>
          {{ messagePatientDetails.patientPhoneNumber }}
        </div>

        <div class="p-mb-1">
          <h5>Sent At</h5>
          {{ messagePatientDetails.sentAt.toDate() | date: "MMM d, y, h:mm a" }}
        </div>
        <div class="p-mb-1">
          <h5>Patient Age</h5>
          {{ messagePatientDetails.patientAge }}
        </div>
        <div class="p-mb-1">
          <h5>Patient Gender</h5>
          {{ messagePatientDetails.patientGender }}
        </div>
      </div>
    </p-fieldset>
  </div>
</div>
